# Paypal Settings
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_SANDBOX_URL=
PAYPAL_WEBHOOK_ID=

#Paypal Product Id
FREE_PRODUCT_ID=
BASIC_PRODUCT_ID=
PREMIUM_PRODUCT_ID=

#Paypal Plan Id
FREE_PLAN_ID=
BASIC_PLAN_ID=
PREMIUM_PLAN_ID=


# Postgres Settings
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

#JWT Settings
JWT_SECRET=
JWT_TOKEN_REFRESH_TIMER=
